
.navbar {
  background-color: #ecc7e5;   
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 900;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar .logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  
}


.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  padding: 10px 16px;     
  border-radius: 6px;     
  display: inline-block;  
  line-height: 1;         
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #ffffff; 
  color: #000000;              
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #000000;
    width: 100%;
    display: none;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }
}


h1 {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 7rem;
  margin: 2rem 0 1rem 2rem; 
}

.title-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  flex-wrap: wrap;                
  margin: 2rem 2rem 1rem 2rem;
}

.title-bar h1 {
  color: #010202;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  max-width: 60%;
  flex-wrap: wrap;

}




p{
  text-align: left;
  text-decoration: none;
  margin: 2rem 0 1rem 2rem; 
  line-height: 1.5rem;

}

.intro{
  text-align: left;
  margin-left: 2rem;
  color: #333;
}

p1 {
  text-align: left;      
  margin-left: 2rem;     
  margin-right: 2rem;    
  max-width: 600px;      
  line-height: 1.6;     
  color: #333;          
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  text-align: left;      
  margin-left: 2rem;     
  margin-right: 2rem;    
  line-height: 1.5rem;  
  color: #333;          
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 30px;
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.code-box {
  background: #1e1e1e;
  color: #ffffff;
  font-size: 20px;
  
  border-radius: 8px;
  font-family: "Courier New", monospace;
  overflow-x: auto;
}
h3{
  text-align: left;
  color: #000;
  font-size:medium;
  padding-left:2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4 {
  text-align:left;
  margin-top: 2rem;
  color: #000;
  padding-left: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
}

.regression-list {
  padding-left: 5rem;    
  font-size: large;  
  line-height: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.introboxheader {
  background-color: #ffffff;    
  border: 1px solid #c8d7e8;    
  padding: 1px 25px;           
  margin: 30px 0;               
  box-shadow: 0 4px 10px rgba(0,0,0,0.08); 

}

.A4 {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
}

.intropic{
    width: 100%;
    position: sticky;
    max-width: 500px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px;
    padding: 20px;

}

.mlpic1{
    width: 100%;
    position: sticky;
    max-width: 300px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px 5px;
    padding: 15px;

}

.classification-list {
  padding-left: 5rem;    
  font-size: large;  
  line-height: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.selfie{
    width: 100%;
    position: sticky;
    max-width: 400px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px 5px;
    padding: 15px;

}

.imgsource {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}



.faqbox {
  width: 600px;
  margin: 12px auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #ffffff;
  overflow: hidden;
}

.faqbox summary {
  background: #eaccea;
  padding: 12px 16px;
  font-weight: 600;
  cursor: pointer;
}

.faqbox p {
  padding: 12px 16px;
  margin: 0;
  background: white;
  border-top: 1px solid #ddd;
}
